<h1>Flatiron Ladder</h1>
<p class='header'><%= "Ladder rules?" %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ranking</th>
      <th>ELO</th>
      <th>Wins</th>
      <th>Losses</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.ranking %></td>
        <td><%= player.elo %></td>
        <td><%= player.wins.count %></td>
        <td><%= player.losses.count %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Start New Challenge', timer_path %>
<%= link_to 'Record a Challenge', new_challenge_path %> | 
