<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @player.ranking %>
</p>

<p>
  <strong>ELO:</strong>
  <%= @player.elo %>
</p>

<p>
  <strong>Career Record:</strong>
  <%= @player.wins.count %> - <%= @player.losses.count %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'View Ladder', players_path %>
