<h1>History of Battle</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Winner</th>
      <th>Loser</th>
      <th>Date Played</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @challenges %>
      <% @challenges.each do |challenge| %>
        <tr>
          <td><%= challenge.winner.name %></td>
          <td><%= challenge.loser.name %></td>
          <td><%= challenge.created_at.strftime("%c") %></td>
          <td><%= link_to 'Edit Result', edit_challenge_path(challenge) %></td>
          <td><%= link_to 'Destroy Record', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Challenge', new_challenge_path %> | 
<%= link_to 'New Player', new_player_path %>