<p id="notice"><%= notice %></p>

<p>
  <strong>Winner:</strong>
  <%= @challenge.winner.name %>
</p>

<p>
  <strong>Loser:</strong>
  <%= @challenge.loser.name %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
