<!DOCTYPE html>
<html>
<head>
  <title>Flatiron ChessLadder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <% if logged_in? %>
      <button type="button" class="btn btn-default navbar-btn" data-toggle="collapse">
        Logged in as: <strong><%= current_user.name %></strong> | <%= link_to "Logout", logout_path %>
    <% else %>
        <%= link_to "Login", login_path %>
      </button>
    <% end %>

    <% unless @current_path.match(players_path) %>
      <button type="button" class="btn btn-default navbar-btn" data-toggle="collapse" align="center">
         <%= link_to "Ladder Rankings", players_path %>
      </button>
    <% end %>

    <% unless @current_path.match(timer_path) %>
      <button type="button" class="btn btn-default navbar-btn" data-toggle="collapse" align="center">
         <%= link_to "Game Timer", timer_path %>
      </button>
    <% end %>

    <% unless @current_path.match(challenges_path) %>
      <button type="button" class="btn btn-default navbar-btn" data-toggle="collapse" align="center">
         <%= link_to "Battle History", challenges_path %>
      </button>
    <% end %>

    <% unless @current_path.match(new_challenge_path) %>
      <button type="button" class="btn btn-default navbar-btn" data-toggle="collapse" align="center">
         <%= link_to "Record an Outcome", new_challenge_path %>
      </button>
    <% end %>

  </div>
</nav>

<br />

<%= yield %>
</div>

</body>
</html>