<!DOCTYPE html>
<html>
<head>
  <title>Flatiron ChessLadder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" align="center">
      <% if logged_in? %>
        Logged in as: <%= current_user.name %> | <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
    </button>
    <button type="button" class="navbar-toggle" data-toggle="collapse" align="center">
       <%= link_to "Ladder Rankings", players_path %>
    </button>

    <button type="button" class="navbar-toggle" data-toggle="collapse" align="center">
       <%= link_to "Battle History", challenges_path %>
    </button>

    <button type="button" class="navbar-toggle" data-toggle="collapse" align="center">
      <%= link_to "Game Timer", timer_path %>
    </button>

    <button type="button" class="navbar-toggle" data-toggle="collapse" align="center">
      <%= link_to "Record an Outcome",new_challenge_path unless @new_page %>
    </button>  
  </div>
</nav>

<br />

<%= yield %>
</div>

</body>
</html>